<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express Number Game</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <h2>Pick a Number!</h2>
    <p id="high-low-correct"></p>
    <form id="guess-number-form">
      <input id="guess-num" name="number" placeholder="guess a number" type="text" />
      <input type="submit" />
    </form>
    <p>Change Target Number?</p>
    <form id="target-number-form">
      <input id="new-num" name="number" placeholder="enter new target number" type="text" />
      <input type="submit" />
    </form>
  </body>
</html>
